body, input {
    font-family: "Lucida Console", Monaco, monospace;
    color: black;
}

section#code {
    padding-top: 2em;
    margin: 0 auto;
}

h1 {
    font-size: 32pt;
    text-align: center;
    padding-top: 0.5em;
}

a {
    text-decoration: none;
    color: #a0a0a0;
}

div#qrcode img {
    padding: 2em;
    margin: auto;
}
